* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.cabecera {
  text-align: center;
  width: 90%;
  margin: 0 auto;
 }

.cuerpo {
  background-image: url(../img/fondo-de-pagina.jpg);
 }

.titulo {
  background-color: black;
  color: #ee4a4a;
  margin-top: 1rem;
 }

.barra-de-navegacion {
  background-color: black;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 1rem; 
}

.navegador {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-evenly; 
}

.navegador-link {
  text-decoration: none;
  color: #ee4a4a; 
}

.navegador-link:hover {
  color: greenyellow; }

.footer-principal {
  background-color: black;
  width: 90%;
  height: 7rem;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
  display: flex;
  color: #ee4a4a;
  justify-content: space-between; }

.contenedor-de-productos {
  background-color: #854085;
  width: 90%;
  height: 30rem;
  margin: 0 auto;
  margin-top: 1rem;
  overflow: auto; }

.producto {
  display: flex;
  align-items: center; }

.descripcion {
  color: yellowgreen; }

.footer-producto {
  background-color: black;
  width: 90%;
  height: 7rem;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  margin-top: 2rem;
  display: flex;
  color: #ee4a4a;
  justify-content: space-between; }

  .carousel{
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
  }