* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.cabecera {
  text-align: center;
  width: 90%;
  margin: 0 auto;
 }

.cuerpo {
  background-image: url(../img/fondo-de-pagina.jpg);
 }

.titulo {
  background-color: #8B41F2;
  color: white;
  margin-top: 1rem;
 }

.barra-de-navegacion {
  background-color: #8B41F2;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 1rem; 
}

.navegador {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-evenly; 
}

.navegador-link {
  text-decoration: none;
  color: white; 
}

.navegador-link:hover {
  color: greenyellow; }

.footer-principal {
  background-color: #8B41F2;
  width: 90%;
  height: 7rem;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
  display: flex;
  color: white;
  justify-content: space-between; }

.contenedor-de-productos {
  background-color: #8B41F2;
  width: 90%;
  height: 30rem;
  margin: 0 auto;
  margin-top: 1rem;
  overflow: auto; }

.producto {
  display: flex;
  align-items: center; }

.descripcion {
  color: white;
  grid-area: tex;
  background-color: #8B41F2;
  width: 70%;
  height: 10rem;
 }

 .imagen-producto{
  grid-area: prod;
 }


.carousel{
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  height: 32rem;
}


.d-block{
  height: 30rem;
}


.container-fluid{
  background-color: #8B41F2;
  z-index: 100;
}

@media (max-width: 720px) {
  .footer-principal{
    flex-direction: column;
    height: 20rem;
    margin-top: 1rem;
  }
}

.contenedor-grid{
  display: grid;
  grid-template-rows: repeat(8,1fr);
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  grid-template-areas:
  "prod tex tex"
  "prod tex tex"
  "prod tex tex"
  "prod tex tex"
  "prod tex tex"
  "prod tex tex"
  "prod tex tex"
  "prod tex tex"
  ;
  overflow: auto;
  margin-top: 2rem;
  
}

@media (max-width: 720px) {
  .contenedor-grid{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-template-areas:
    "prod tex"
    "prod tex"
    "prod tex"
    "prod tex"
    "prod tex"
    "prod tex"
    "prod tex"
    "prod tex"
    ;
    overflow: auto;
  }
}
@media (max-width: 720px){
  .producto{
    display: flex;
    flex-direction: column;
  }
}