.cabecera{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    .titulo{
        background-color: $colorfondo;
        color: $colorblanco;
        margin-top: 1rem;
        border-radius: 10px;
    }
    .barra-de-navegacion{
        background-color: $colorfondo;
        border-radius: 10px;
        margin-top: 1rem; 
        .container-fluid{
            background-color: $colorfondo;
            z-index: 100;
            .navbar-collapse{  
                list-style: none;
                align-items: center;
                justify-content: space-evenly;
                .navbar-nav{
                    .navegador-link{
                        text-decoration: none;
                        color: $colorblanco;
                        &:hover{
                            color: #53A61C;
                        }
                    }
                }
            }
        }
    }
}