*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpo{
    background-image: url(../img/fondo-de-pagina.jpg);
}

.footer-principal{
    background-color: $colorfondo;
    width: 90%;
    height: 7rem;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1rem;
    display: flex;
    color: $colorblanco;
    justify-content: space-between;
    .navegador-link{
        text-decoration: none;
        color: $colorblanco; 
        &:hover{
            color: #53A61C;
        }
    }
    @include mediaquery(768px){
        flex-direction: column;
        height: 20rem;
        margin-top: 1rem;
    }
}